[submodule "plugin/reveal.js-d3"]
	path = plugin/reveal.js-d3
	url = https://github.com/gcalmettes/reveal.js-d3
[submodule "plugin/reveal.js-plugins"]
	path = plugin/reveal.js-plugins
	url = https://github.com/rajgoel/reveal.js-plugins.git
